.content {
    color: rgb(66, 88, 100);
    padding: 40px;
    max-width: 900px;
}

.title {
    font-size: 45px;
    line-height: 1.2;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    color: #13A99E;
}

.title a {
  color: #13A99E;
}

.item img {
  max-width: 100%;
  height: auto;
}

.searchItem {
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;
}

.searchItem .title {
    font-size: 30px;
}
